@font-face {
  font-family: "Hack";
  src: local("Hack"), url("../fonts/Hack-Regular.ttf") format("truetype"), url("../fonts/Hack-Regular.woff") format("woff"), url("../fonts/Hack-Regular.svg") formar("svg"), url("../fonts/Hack-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Hack";
  src: local("Hack"), url("../fonts/Hack-Bold.ttf") format("truetype"), url("../fonts/Hack-Bold.woff") format("woff"), url("../fonts/Hack-Bold.svg") formar("svg"), url("../fonts/Hack-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
body {
  font-family: "Hack";
  background-color: rgb(0, 1, 0);
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1110px;
  width: 100%;
  margin: 0px auto;
}

.top-bg__logo {
  font-weight: normal;
  position: absolute;
  top: 335px;
  left: 60%;
  z-index: 2;
  color: rgb(144, 39, 167);
  font-size: 128px;
}

.top-bg__video {
  top: 15px;
  left: 27%;
  position: absolute;
  max-width: 1400px;
  width: 100%;
  height: auto;
  z-index: 1;
}

.text {
  font-size: 18px;
  color: rgb(205, 157, 215);
}

.top-info {
  padding-top: 359px;
  padding-bottom: 208px;
  position: relative;
  z-index: 2;
}
.top-info .top-info__container {
  position: relative;
  z-index: 2;
}
.top-info .top-info__container .top-info__inner .top-info__title {
  font-size: 50px;
  color: rgb(255, 255, 255);
  max-width: 483px;
  width: 100%;
  padding-bottom: 30px;
}
.top-info .top-info__container .top-info__inner .top-info__text {
  max-width: 379px;
  width: 100%;
  padding-bottom: 30px;
}
.top-info .top-info__container .top-info__inner .top-info__button {
  font-size: 16px;
  border-radius: 20px;
  background-color: rgb(227, 241, 78);
  max-width: 293px;
  width: 100%;
  height: 38px;
  padding-top: 10px;
  font-weight: 700;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 35px #E3F14E);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 35px #E3F14E);
  cursor: pointer;
}

.header {
  padding: 15px 0;
  position: relative;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 26px;
  color: rgb(255, 255, 255);
}

.header__logo {
  margin-right: 125px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 282px;
  width: 100%;
}

.menu__link_purple {
  color: rgb(205, 157, 215);
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 335px;
  width: 100%;
  margin-right: 70px;
}

.header__button {
  height: 30px;
  max-width: 160px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding-top: 6px;
  cursor: pointer;
}

.header__button_violet {
  color: rgb(144, 39, 167);
  border: 1.5px solid rgb(144, 39, 167);
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  -webkit-filter: drop-shadow(0px 0px 35px #9027A7);
          filter: drop-shadow(0px 0px 35px #9027A7);
}

.header__button_yellow {
  color: rgb(227, 241, 78);
  border: 1.5px solid rgb(227, 241, 78);
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  -webkit-filter: drop-shadow(0px 0px 35px #E3F14E);
          filter: drop-shadow(0px 0px 35px #E3F14E);
}

.changelang-icon {
  max-width: 29px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.group-work {
  padding-top: 233px;
  padding-bottom: 252px;
}

.group-work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.group-work__text-blok {
  padding-top: 90px;
}

.title {
  font-size: 36px;
  color: rgb(255, 255, 255);
}

.group-work__title {
  max-width: 482px;
  width: 100%;
  padding-bottom: 24px;
}

.group-work__text {
  max-width: 353px;
  width: 100%;
}

.group-work__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 590px;
  width: 100%;
}

.group-work__img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.group-work__images_lower {
  right: 10%;
  -webkit-transform: rotate(356deg);
          transform: rotate(356deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.group-work__images_lower:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.group-work__images_upper:hover {
  -webkit-transform: translate(30%, 70%) scale(1.5, 1.5);
          transform: translate(30%, 70%) scale(1.5, 1.5);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.group-work__images_upper {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(30%, 70%);
          transform: translate(30%, 70%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.about-repository {
  padding-top: 281px;
  padding-bottom: 281px;
}

.about-repository__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-repository__text-blok {
  padding-top: 30px;
}

.about-repository__title {
  max-width: 397px;
  width: 100%;
  padding-bottom: 24px;
}

.about-repository__text {
  max-width: 411px;
  width: 100%;
}

.about-repository__img {
  max-width: 549px;
  width: 100%;
  height: auto;
}

.about-editor {
  padding-top: 167px;
  padding-bottom: 221px;
}

.about-editor__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-editor__text-blok {
  padding-top: 30px;
}

.about-editor__title {
  max-width: 305px;
  width: 100%;
  padding-bottom: 24px;
}

.about-editor__text {
  max-width: 403px;
  width: 100%;
}

.about-editor__video {
  max-width: 540px;
  width: 100%;
  height: auto;
}

.main__crawl-line {
  font-size: 36px;
  color: rgb(227, 241, 78);
  padding-top: 155px;
  padding-bottom: 420px;
  text-shadow: 0px 0px 35px #E3F14E;
}

.crawl-line__text {
  cursor: pointer;
}

.footer__logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__bottom {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgb(147, 158, 164);
}

.footer__contacts {
  color: #FFFFFF;
  margin-right: 50px;
  font-size: 14px;
  color: rgb(147, 158, 164);
}

.footer-bottom__logo-text {
  font-size: 14px;
  color: rgb(147, 158, 164);
  max-width: 127px;
  width: 100%;
}

.up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  z-index: 5;
  border: 4px solid rgb(227, 241, 78);
  padding: 0 2px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(65, 64, 64, 0.6);
  z-index: 5;
}

.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 477px;
  max-width: 100%;
  padding: 55px 25px 35px;
  z-index: 6;
  background: #000100;
  -webkit-box-shadow: 0px 0px 35px #000100, inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 35px #000100, inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.modal__close-btn {
  max-width: 35px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-left: 50px;
}

.input-area {
  border: 1.4783px solid #FFFFFF;
  border-radius: 5.91319px;
  max-width: 328px;
  width: 100%;
  padding-top: 12px;
  margin-right: auto;
  padding-bottom: 12px;
  margin-left: auto;
  margin-bottom: 16px;
}
.input-area img {
  max-width: 17px;
  width: 100%;
  height: auto;
  margin-left: 8px;
}
.input-area input {
  background: #000100;
  color: #FFFFFF;
}

.modal-sing-in__footer, .modal-sing-up__footer {
  font-style: normal;
  font-weight: 400;
  font-size: 17.7396px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.modal-sing-in__footer span, .modal-sing-up__footer span {
  color: #E3F14E;
  cursor: pointer;
}

.modal-sign-in__button, .modal-sign-up__button {
  max-width: 329px;
  text-align: center;
  margin-left: 49px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 16px;
  text-align: center;
  background: #9027A7;
  -webkit-box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}